<div class="center jumbotron">
  <h1>Welcome to Rails Texts</h1>
  
  <h2>
    This is an example home page for a
    <a href="https://github.com/Fourfingerz/Rails-Texting-Interface-UI">Rails Texting</a>
      sample application.
  </h2>
</div>